body {
    overflow: hidden;
}

*::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    height: 7px;
}
*::-webkit-scrollbar-track-piece {
    background-color: rgba(255, 255, 255, 0);
}
*::-webkit-scrollbar-track {
    background-color: inherit;
}
*::-webkit-scrollbar-thumb {
    max-height: 100px;
    border-radius: 3px;
    background-color: rgba(1, 1, 1, 0.23);
}
*::-webkit-scrollbar-thumb:hover {
    background-color: rgba(1, 1, 1, 0.35);
}
*::-webkit-scrollbar-thumb:active {
    background-color: rgba(1, 1, 1, 0.48);
}