body {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgba(0,0,0,.8);
    line-height: 1.5;
    background-color: #172a3a;
}

html, body, p, a, h1, h2, h3, h4, ul, pre, code {
    margin: 0;
    padding: 0;
    color: inherit;
}

a:active, a:focus, button:focus, input:focus {
    outline: none;
}

input, button, submit {
    border: none;
}

input, button, pre {
    font-family: 'Open Sans', sans-serif;
}

code {
    font-family: Consolas, monospace;
}
